{% extends 'layout/base_main.html' %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Thông tin cá nhân</h1>
    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="{{ url_for('static', filename='image/testimonial-' + ramdom + '.jpg') }}" alt="Profile" class="rounded-circle">
                        <h2>{{benhNhan.hoTen}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    Thông tin
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Chỉnh sửa
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Chi tiết thông tin</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Họ tên</div>
                                    <div class="col-lg-9 col-md-8">{{benhNhan.hoTen}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Vai trò</div>
                                    <div class="col-lg-9 col-md-8">{{role}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Ngày sinh</div>
                                    <div class="col-lg-9 col-md-8">{{benhNhan.ngaySinh}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                                    <div class="col-lg-9 col-md-8">{{benhNhan.diaChi}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                                    <div class="col-lg-9 col-md-8">{{benhNhan.soDienThoai}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{benhNhan.email}}</div>
                                </div>
                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <form action="{{url_for('update_profile')}}" method="post">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Profile
                                            Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="{{ url_for('static', filename='image/testimonial-' + ramdom + '.jpg') }}" alt="Profile">

                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Họ tên</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="hoTen" type="text" class="form-control" id="fullName"
                                                   value="{{benhNhan.hoTen}}">
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Ngày sinh</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="ngaySinh" type="text" class="form-control" id="Country"
                                                   value="{{benhNhan.ngaySinh}}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="diaChi" type="text" class="form-control" id="Address"
                                                   value="{{benhNhan.diaChi}}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Số điện
                                            thoại</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="soDienThoai" type="text" class="form-control" id="Phone"
                                                   value="{{benhNhan.soDienThoai}}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label  class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email"
                                                   value="{{benhNhan.email}}">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

