<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Việt Nam</h3>
                        <p>
                            Khu dân cư Nhơn Đức <br>
                            Nhà Bè, TP.Hồ Chí Minh<br><br>
                            <strong>Phone:</strong> +84 72614451<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Dịch vụ tiện ích</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Giới thiệu</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Đặt lịch khám</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chuyên khoa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Bác sĩ</a></li>
                    </ul>
                </div>


                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>


    <div class="copyright">
        &copy; Đề tài: <strong><span>Phòng khám mạch tư</span></strong>.
    </div>
    <div class="credits">
        <a href="https://bootstrapmade.com/">Trường Đại học Mở TP. Hồ Chí Minh</a>
        - Bài tập lớn Công nghệ phần mềm -
        Giảng viên <a href="https://bootstrapmade.com/">Dương Hữu Thành</a>

    </div>

</footer><!-- End Footer -->
